<div class="container">
	<tabs>
		<pane title="Daily">
			<input ng-model="stats.yesterday" type="text" ng-change="update_stats()">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Kills</th>
					<tr>
				</thead>
				<tbody>
				<tr ng-repeat="faction in stats.current_day_stats">
					<td class="name">{{faction.factionname}}</td>
					<td class="kills">{{faction.kills}}</td>
				</tr>
			</table>
		</pane>
		<pane title="Total">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Kills</th>
					<tr>
				</thead>
				<tbody>
				<tr ng-repeat="faction in total">
					<td class="name">{{faction.factionname}}</td>
					<td class="kills">{{faction.kills}}</td>
				</tr>
			</table>
		</pane>
	</tabs>
</div>
